.hello {
  color: black;
  letter-spacing: 2px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

#main-ctr {
  display: block;
  height: 100vh;
  padding-top:23vh;
  vertical-align: middle;
  text-align: center;
}



#main-ctr svg {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
svg #smile-up,
svg #circle,
svg #eye-to-left,
svg #eye-to-right,
svg #wink,
svg #bg {
  opacity: 0;
}